body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  height: 100svh;
}

.img-wrapper {
  text-align: center;
  margin: 3rem 0;
}

.logo {
  width: 40%;
}

.header {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-header {
  font-family: serif;
  font-size: 3rem;
  font-weight: 600;
  color: #505050;
}

.sub-header {
  font-size: 1.1rem;
  font-weight: 700;
  color: #505050;
  margin-bottom: 40px;
  font-style: italic;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 32px;
  position: relative;
}

.name,
.birthday,
.email {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name > input,
.email > input {
  border: 1px solid #b9b9b9;
  border-radius: 8px;
  text-indent: 12px;
  background: transparent;
  color: #4a4a4a;
  font-size: 16px;
  padding: 8px 0;
}

.birthday-inputs {
  display: flex;
  gap: 12px;
}

.birthday-inputs > input {
  width: 20%;
  flex: 1;
  border: 1px solid #b9b9b9;
  border-radius: 8px;
  background: transparent;
  color: #4a4a4a;
  font-size: 16px;
  padding: 8px 0;
  text-align: center;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-bottom: 15px;
  font-style: italic;
  display: none;
}

.error-message.show {
  display: block;
}

.no-email-wrapper {
  color: #4a4a4a;
  font-size: 12px;
  font-style: italic;
}

.submit {
  background-color: #f26722;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 32px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.footer {
  margin-top: 4rem;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #696969;
  border-top: 1px solid #b9b9b9;
  padding: 12px 0;
}

.footer span {
  color: #003cff;
}
