body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  height: 100svh;
}

.img-wrapper {
  text-align: center;
  margin: 3rem 0;
}

.logo {
  width: 40%;
}

.header {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-header {
  font-family: serif;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 6px;
  color: #505050;
}

.sub-header {
  font-size: 1.1rem;
  font-weight: 700;
  color: #f26722;
  margin-bottom: 80px;
}

.input-container {
  display: flex;
  margin-bottom: 40px;
  gap: 12px;
  position: relative;
}

.prefix-select {
  width: 50px;
  border: none;
  border-bottom: 1.4px solid #f26722;
  background: transparent;
  color: #4a4a4a;
  font-size: 16px;
  padding: 8px 0;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px;
  cursor: pointer;
}

.input-wrapper {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
}

.tel-input {
  flex-grow: 1;
  border: none;
  border-bottom: 1.4px solid #f26722;
  padding: 12px 30px 12px 0;
  font-size: 16px;
  outline: none;
  background: transparent;
  color: #4a4a4a;
}

.checkmark {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-bottom: 15px;
  display: none;
}

.error-message.show {
  display: block;
}

.submit {
  background-color: #f26722;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 32px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.footer {
  margin-top: 4rem;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #696969;
  border-top: 1px solid #b9b9b9;
  padding: 12px 0;
}

.footer span {
  color: #003cff;
}
